<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/frontend/css/style3.css" />
    <title>Pregunta 3</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/index.html" id="p0"></a></li>
        <li><a href="/frontend/view/question1.html" id="p1"></a></li>
        <li><a href="/frontend/view/question2.html" id="p2"></a></li>
        <li><a href="/frontend/view/question3.html" id="p3"></a></li>
        <li><a href="/frontend/view/question4.html" id="p4"></a></li>
      </ul>
    </nav>
    <br />
    <h1 id="numberQ">Pregunta 1</h1>

    <p class="card" id="question">No hay data</p>

    <p id="data1">No hay data</p>
    <p id="data2">No hay data</p>
    <p id="data3">No hay data</p>

    <script type="module" src="/backend/questions.js"></script>
    <script type="module" src="/backend/numeros.js"></script>
  </body>
</html>
